body {
  background: rgb(59, 59, 59);
  font-family: Helvetica, 'Times New Roman', Times, serif, Arial, sans-serif;
  color:rgb(255, 212, 95)
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  display: inline-block;
  list-style-type: none;
  color: rgb(172, 163, 163);
  margin-right: 20px;
}
header {
  color: blanchedalmond;
  margin: 20px;
}
section {
  display: flex;
  flex-direction: row;
  color:rgb(255, 212, 95);
  padding: 20px;
}
div {
  background: grey;
  margin: auto;
  display: inline-block;
  width: 100px;
}
footer {
  background: black;
  color:rgb(196, 196, 106)
  padding: 10px;
}